@import '@angular/material/prebuilt-themes/indigo-pink.css'; // Or any other base theme

$background-color: #111;
$primary-color: #0f0; 
$secondary-color: #00f; 
$text-color: #eee;
$accent-color: #ff0; 

body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.mat-toolbar {
  background-color: darken($background-color, 10%);
  color: $text-color;
}

.mat-form-field {
  color: $text-color;

  .mat-input-element {
    color: $text-color;
  }

  .mat-form-field-label {
    color: lighten($text-color, 20%);
  }

  .mat-form-field-underline {
    background-color: $primary-color;
  }
}

.mat-raised-button, .mat-stroked-button{
    background-color: $primary-color;
    color: $background-color;
}

.mat-card {
  background-color: lighten($background-color, 95%);
  color: $text-color;
  border: 1px solid $primary-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  .mat-card-header {
    background-color: darken($background-color, 5%);
    border-bottom: 1px solid $primary-color;
  }

  .mat-card-title {
    color: $primary-color;
  }

  .mat-card-content {
    color: $text-color;
  }
}